<script setup lang="ts">
import SomComponent from "@/components/SomComponent.vue";
</script>

<template>
  <v-container style="background-color: blanchedalmond" fluid
    ><SomComponent></SomComponent
  ></v-container>
</template>
