<script setup lang="ts">
import BallComponents from "@/components/BallComponents.vue";
import PraewComponent from "@/components/PraewComponent.vue";
</script>
<template>
  <v-container class="bg-color" fluid>
    <v-row>
      <v-col><BallComponents></BallComponents></v-col>
      <v-col class="mt-4">
        <PraewComponent></PraewComponent>
      </v-col> </v-row
  ></v-container>
</template>
<style>
.bg-color {
  background-color: rgb(250, 228, 222);
}
</style>
