<script setup lang="ts">
import { ref } from "vue";
import EarnComponents from "@/components/EarnComponents.vue";
import { useProductStore } from "@/stores/product";
const productStore = useProductStore();

const tab = ref([
  {
    id: "tab-1",
  },
  {
    id: "tab-2",
  },
  {
    id: "tab-3",
  },
  {
    id: "tab-4",
  },
  {
    id: "tab-5",
  },
]);
</script>
<template>
  <v-container style="background-color: bisque">
    <v-tabs v-model="tab" class="background rounded-t-lg" grow>
      <v-tab value="tab-1"> กาแฟ </v-tab>
      <v-tab value="tab-2"> น้ำผลไม้ </v-tab>
      <v-tab value="tab-3"> สมูทตี้ </v-tab>
      <v-tab value="tab-4"> เบเกอรี่ </v-tab>
      <v-tab value="tab-5"> น้ำอัดลม </v-tab>
    </v-tabs>

    <v-window v-model="tab">
      <v-window-item value="tab-1">
        <v-container
          class="bg-white"
          style="height: 75vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col
              cols="4"
              fluid
              v-for="item of productStore.coffee"
              :key="item.id"
              :value="item"
            >
              <v-card
                ><v-img cover height="250px" :src="item.photo"> </v-img>
                <v-card-actions>
                  <v-btn height="50" block @click="productStore.addMenu(item)"
                    >{{ item.name }} {{ item.price }} บาท</v-btn
                  ></v-card-actions
                ></v-card
              >
            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
      <v-window-item value="tab-2">
        <v-container
          class="bg-white"
          style="height: 75vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col
              cols="4"
              fluid
              v-for="(item, index) of productStore.juice"
              :key="index"
            >
              <v-card
                ><v-img cover height="250px" :src="item.photo"> </v-img>
                <v-card-actions>
                  <v-btn height="50" block
                    >{{ item.name }} {{ item.price }} บาท</v-btn
                  ></v-card-actions
                ></v-card
              >
            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
      <v-window-item value="tab-3">
        <v-container
          class="bg-white"
          style="height: 75vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col
              cols="4"
              fluid
              v-for="(item, index) of productStore.smoothies"
              :key="index"
            >
              <v-card
                ><v-img cover height="250px" :src="item.photo"> </v-img>
                <v-card-actions>
                  <v-btn height="50" block
                    >{{ item.name }} {{ item.price }} บาท</v-btn
                  ></v-card-actions
                ></v-card
              >
            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
      <v-window-item value="tab-4">
        <v-container
          class="bg-white"
          style="height: 75vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col
              cols="4"
              fluid
              v-for="(item, index) of productStore.bakery"
              :key="index"
            >
              <v-card
                ><v-img cover height="250px" :src="item.photo"> </v-img>
                <v-card-actions>
                  <v-btn height="50" block
                    >{{ item.name }} {{ item.price }} บาท</v-btn
                  ></v-card-actions
                ></v-card
              >
            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
      <v-window-item value="tab-5">
        <v-container
          class="bg-white"
          style="height: 75vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col
              cols="4"
              fluid
              v-for="(item, index) of productStore.softdrink"
              :key="index"
            >
              <v-card
                ><v-img cover height="250px" :src="item.photo"> </v-img>
                <v-card-actions>
                  <v-btn height="50" block
                    >{{ item.name }} {{ item.price }} บาท</v-btn
                  ></v-card-actions
                ></v-card
              >
            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
    </v-window>
    <v-container><EarnComponents></EarnComponents></v-container>
  </v-container>
</template>

<style scoped>
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  background-color: #6f7762;
}
</style>
