<script setup lang="ts">
import { mdiPencilCircle } from "@mdi/js";
</script>

<template>
  <v-card>
    <v-container tag="div">
      <v-table>
        <thead>
          <tr>
            <td>
              <v-row>
                <v-col>
                  <v-img
                    src="https://fbi.dek-d.com/27/0394/1144/122574935"
                    width="100px"
                  ></v-img>
                </v-col>
                <v-col cols="8">
                  <p>ชื่อผู้ใช้ : ธัญญา ปาณาติปาตา</p>
                  <p></p>
                  <p>สถานะ : พนักงาน</p>
                </v-col>
                <v-col>
                  <v-btn
                    class="btn btn-secondary float-right"
                    variant="tonal"
                    :icon="mdiPencilCircle"
                    size="48px"
                    color="grey"
                  >
                    <v-icon
                      :icon="mdiPencilCircle"
                      size="50px"
                      color="grey"
                    ></v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </td>
          </tr>
        </thead>
      </v-table>
    </v-container>
  </v-card>
</template>

<style scoped>
p {
  font-size: 20px;
}
</style>
