<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
import { mdiAccountCircle, mdiEyeOff, mdiEyeOutline, mdiLock } from "@mdi/js";
const loginStore = useLoginStore();

const inline = ref("");

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(loginName.value, password.value);
  }
};

const marker = ref("mdiEyeOutline");
function togglePass() {
  marker.value =
    marker.value === "mdiEyeOutline" ? "mdiEyeOff" : "mdiEyeOutline";
}
</script>

<template>
  <center>
    <v-row>
      <v-col cols="8">
        <v-img
          src="https://images.unsplash.com/photo-1507915135761-41a0a222c709?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
          height="100%"
          cover
        >
        </v-img>
      </v-col>
      <v-col cols="4" height="100%" class="backgroud">
        <v-container>
          <v-container class="d-flex justify-center ma-2" width="200px"
            ><v-img
              contain
              max-height="300"
              max-width="500"
              src="https://media.discordapp.net/attachments/1055371315802030092/1060895873158107288/IMG_6879_1.png?width=739&height=671"
            >
            </v-img
          ></v-container>

          <v-card-text class="flex-center secondary"
            ><v-form
              ref="form"
              v-model="valid"
              label="Outlined"
              variant="outlined"
            >
              <v-container>
                <p class="text-h6 second-color text-lg-left">
                  <v-icon :icon="mdiAccountCircle"></v-icon>
                  ชื่อผู้ใช้งาน
                </p>
              </v-container>

              <v-text-field
                class="bg-field"
                v-model="loginName"
                :rules="[
                  (v) => !!v || 'Login Name is required',
                  (v) =>
                    v.length >= 4 ||
                    'Login Name must be more than or equal 4 characters',
                ]"
                required
              ></v-text-field>

              <v-container>
                <p class="text-h6 second-color text-lg-left">
                  <v-icon :icon="mdiLock"></v-icon>
                  รหัสผ่าน
                </p>
              </v-container>
              <v-text-field
                :append-inner-icon="marker ? mdiEyeOff : mdiEyeOutline"
                type="Password"
                v-model="password"
                :rules="[
                  (v) => !!v || 'Password is required',
                  (v) =>
                    v.length >= 8 ||
                    'Password must be more than or equal 8 characters',
                ]"
                required
                @click:append-inner-icon="togglePass()"
              >
              </v-text-field>

              <v-container class="flex-center">
                <v-radio-group v-model="inline" inline>
                  <v-radio
                    label="พนักงาน"
                    value="employee"
                    class="ma-4 second-color"
                  ></v-radio>
                  <v-radio
                    label="เจ้าของร้าน"
                    value="manager"
                    class="ma-4 second-color"
                  ></v-radio>
                </v-radio-group>
                <v-btn
                  @click="login"
                  width="170px"
                  height="40px"
                  class="second-color"
                  variant="outlined"
                  >ตกลง</v-btn
                >
              </v-container>
            </v-form>
          </v-card-text>
        </v-container>
      </v-col>
    </v-row>
  </center>
</template>
<style scoped>
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backgroud {
  background: rgb(57, 71, 58);
  background: linear-gradient(
    180deg,
    rgba(57, 71, 58, 1) 22%,
    rgba(116, 100, 81, 1) 53%,
    rgba(170, 140, 104, 1) 100%
  );
}

.second-color {
  color: black;
}

.border {
  border-radius: 1px;
}
</style>
